* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #5979e1;
    padding: 40px;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* USER DETAILS */
.user-details .name {
    margin-bottom: 15px;
}

.user-details input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* CLASS & SUBJECTS */
.subjects-wrap {
    margin-top: 20px;
}

.subjects-wrap h4,
.subjects-wrap h5 {
    margin-bottom: 10px;
}

.class,
.subjects {
    margin-bottom: 8px;
}

/* TEXTAREA */
.feedback textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: none;
}

/* SELECT */
.city-wrap {
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 8px;
}

/* BUTTON */
.button {
    text-align: center;
    margin-top: 20px;
}

.button input {
    padding: 10px 25px;
    background: #4a6cff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.button input:hover {
    background: #0faf22;
    color: white;
    font-weight: bold;

}
iframe{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-class{
    font-weight: bold;
    padding-bottom: 10px;
}