/* Page background */
body {
    font-family: Arial, sans-serif;
    background: image();
}

/* Form container */
form {
    width: 700px;
    margin: 40px auto;
    background: rgb(116, 167, 207);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(147, 15, 15, 0.1);

}

/* Form title */
form h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

/* Row layout */
.form-inline {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

/* Each field */
.form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Labels */
label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #444;
}

/* Inputs & select */
input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Radio & checkbox alignment */
.form-field input[type="radio"],
.form-field input[type="checkbox"] {
    margin-right: 6px;
}

.form-field > label + input[type="radio"],
.form-field > label + input[type="checkbox"] {
    margin-left: 10px;
}

/* Buttons row */
.form-inline:last-child {
    justify-content: center;
    gap: 15px;
}

/* Buttons */
button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

/* Submit button */
button[type="submit"] {
    background: #4CAF50;
    color: rgb(43, 40, 40);
    font-weight: bold;
}

/* Reset button */
button[type="reset"] {
    background: #f44336;
    color: white;
    font-weight:bold;
}

/* Hover effect */
button:hover {
    opacity: 0.9;
    font-weight:bold;
    background-color: rgb(2, 48, 1);
    color: white;
}
