/*Box to display div id =box*/
#box{
    background-color: rgb(0,0,255);
    color: white;
}


.heading{
    color: rgb(255,0,0);
}
/* h1,h2,h3{
    color: magenta;
} */
  
.buttons{
    color: rgb(0,255,0)
}
