*{
    font-family: 'Times New Roman', Times, serif ;
}
h1{
    text-align: center;
    text-transform: capitalize;
}
p{
    text-transform: capitalize;
    text-align: center;
}
#outer{
    font-size: 25px;
}
#inner{
    font-size: 10px;
}